body{
    margin: 0;
    padding: 0;
    background-color: #333333;
}

    





.FirstButton{
    border: 1px solid #8d34db;
    color: #3498db;
    text-align: center;
    padding: 20px 20px;
    font-weight: bold;
    font-family: Cursive;
    font-size: 30px;
    margin: 360px 700px;
    border-radius: 10px;
    background-color: rgb(29, 26, 26);
    transition: 0.8s;
    border-color: rgb(26, 23, 23);
    font-style: oblique;
}

.FirstButton:hover{
    color: cyan;
    cursor: pointer;
    text-shadow: 0 5px 30px #3498db;
    
}